/* HEADER INNER CONTENT (nav + logo) */
.afrs-header {
  width: 100%;
  display: flex;
  flex-direction: column; /* nav on top, logo below */
  align-items: center;
}


/* NAVIGATION */
.afrs-header .cmp-navigation {
  width: 100%;
}

.afrs-header .cmp-navigation__group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 12px 0;
  list-style: none;
  background: transparent;
}

.afrs-header .cmp-navigation__item {
  text-align: center;
}

.afrs-header .cmp-navigation__item-link {
  display: block;
  padding: 12px 16px;
  font: 800 14px sans-serif;
  text-transform: uppercase;
  color: #111;
  text-decoration: none;
  border-left: 1px solid #ddd;
}

.afrs-header .cmp-navigation__item:first-child .cmp-navigation__item-link {
  border-left: none;
}

.afrs-header .cmp-navigation__item-link:hover {
  background: #ff661c;
  color: white;
}

/* LOGO */
.afrs-header .cmp-image {
  margin-top: 12px;
  width: 96px;
  height: 96px;
  overflow: hidden;
  border-radius: 10%;
}

.afrs-header .cmp-image img {
  width: 100%;
  height: 100%;
  object-fit: fit;
}

/* Hide navigational nav if present */
.afrs-header .cmp-languagenavigation__item {
  display: none;
}